:root {
    --text: rgba(53, 70, 87, 1);
    --line: rgba(53, 70, 87, 0.2);
    --link: rgba(53, 70, 87, 0.8);
    --link-active: rgba(53, 70, 87, 0.5);
    --facebook: rgb(20,121,189);
    --instagram: rgb(120,38,169);
    --youtube: rgb(247,0,0);
    --linkedin: rgb(0,89,137);
    --pinterest: rgb(187,28,31);
    --main-color: rgba(148, 111, 211, 1);
    --main-color-hover: rgba(148, 111, 211, 0.8);
    --main-color-active: rgba(148, 111, 211, 0.5);
    --white: white;
    --textarea: rgb(182,182,182);
    --text-color: rgba(53, 70, 87, 1);
    --submit: rgba(248, 55, 55, 1);
    --submit-hover: rgba(248, 55, 55, 0.8);
    --submit-active: rgba(248, 55, 55, 0.5);
    --background: #F0F2F5;
}
* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper { 
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    max-width: 1500px;
    min-width: 1200px;
    padding: 10px;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    /* border-bottom: 1px solid var(--line); */
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box__logo-menu { 
    display: flex;
    list-style: none;
}

.logo-box__list { 
    margin: 0 10px;
}

.logo-box__link { 
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    text-decoration: none;
    line-height: 1;
    color: var(--text);
}

.logo-box__link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--link);
    content: "";
    transition: width 0.3s ease-out;
}

.logo-box__link:hover:after,
.logo-box__link:active:after {
    width: 100%;
}
.logo-box__link:focus:after {
    width: 0;
}

.logo-box__link:hover {
    color: var(--link);
}
.logo-box__link:active {
    color: var(--link-active);
}

.basket-box {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.basket-box__list { 
    margin-left: 20px;
}

.basket-box__link { 
    position: relative;
    text-decoration: none;
    line-height: 1;
    color: var(--text);
}
.basket-box__link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--text);
    content: "";
    transition: width 0.3s ease-out;
}
.basket-box__link:hover:after,
.basket-box__link:focus:after {
    width: 100%;
}

.basket-box__link:hover {
    color: var(--link);
}
.basket-box__link:active {
    color: var(--link-active);
}

.nav__box { 
    position: relative;
    display: flex;
    list-style: none;
    padding: 0 20px;
    margin-bottom: 30px;
}

.nav__box:after {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    background: url('../img/home.svg') center no-repeat;
}

.nav__list { 
    margin-left: 30px;
}

.nav__link { 
    color: var(--text);
    position: relative;
    text-decoration: none;
    line-height: 1;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 20px;
    height: 20px;
    background: url('../img/Arrow.svg') center no-repeat;
}

.nav__link:hover {
    color: var(--link);
}
.nav__link:active {
    color: var(--link-active);
}

.nav__link:before {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--text);
    content: "";
    transition: width 0.3s ease-out;
}

.nav__link:hover:before,
.nav__link:focus:before {
    width: 100%;
}


/*---------------------------------------main--------------------------------------*/
.title {
    display: block;
    padding: 30px 0;
    border-bottom: 3px solid var(--background);
    margin-bottom: 30px;
}
.form {
    display: flex;
}
.box_form {
    max-width: 450px;
    min-width: 350px;
    padding-right: 30px;
}
.basket_form {
    width: 100%;
}
.logIn_form_box {
    background: var(--background);
    padding: 5px 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
.input_form {
    display: block;
    margin-bottom: 10px;
}

.data_form {
    background: var(--background);
    padding: 5px 20px;
}

.input_form__label {
    cursor: pointer;
    margin-right: 15px;
    line-height: 35px;
}
.input_form__label:hover {
    color: var(--link);
}
.input_form__label:active {
    color: var(--link-active);
}
.input_form__div {
    max-width: 335px;
}
.input_form__input {
    cursor: pointer;
    border: 3px solid var(--textarea);
    border-radius: 3px;
    padding: 10px 15px;
    width: 100%;
}
.input_form__input:active,
.input_form__input:hover,
.input_form__input:focus {
    border: 3px solid var(--main-color);
    outline-color: var(--main-color);
}
.product__box-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery_info {
    background: var(--background);
    padding: 5px 20px;
}

.delivery_method {
    background: var(--background);
    padding: 5px 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}
.payment_method {
    background: var(--background);
    padding: 5px 20px;
    padding-bottom: 30px;
}
.your_cart {
    display: flex;
    justify-content: space-between;
}
.quantityOfGoods__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantityOfGoods__number {
    border: 3px solid transparent;
    max-width: 40px;
    line-height: 25px;
    border-radius: 20%;
}
.quantityOfGoods__number:hover,
.quantityOfGoods__number:focus {
    border: 3px solid var(--main-color);
    outline-color: var(--main-color);
}
.quantityOfGoods__reset {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.quantityOfGoods__svg-reset {
    fill: var(--main-color);
}
.quantityOfGoods__svg-reset:hover {
    fill: var(--main-color-hover);
}
.quantityOfGoods__svg-reset:active {
    fill: var(--main-color-active);
}
.quantityOfGoods__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}
.quantityOfGoods__svg-submit {
    fill: var(--submit);
}
.quantityOfGoods__svg-submit:hover {
    fill: var(--submit-hover);
}
.quantityOfGoods__svg-submit:active {
    fill: var(--submit-active);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.costOfGoods {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
}
.costOfGoods__priceAndDelivery {
    text-align: end;
    margin-right: 20px;
    font-weight: bold;
}

.textarea_price {
    background: var(--background);
    padding: 5px 20px;
    position: relative;
    padding-bottom: 80px;
    padding-left: 30px;
    margin-bottom: 100px;
}
.textarea_box {
    cursor: pointer;
    width: 100%;
    resize: none;
    border: 3px solid var(--textarea);
    border-radius: 3px;
    color: var(--textarea);
    padding: 5px 10px;
}
.textarea_box:hover,
.textarea_box:focus {
    border: 3px solid var(--main-color);
    outline-color: var(--main-color);
}
.buttonSubmitForm {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    right: 20px;
    bottom: auto;
    display: inline-block;
    text-decoration: none;
    border: 3px solid var(--main-color);
    background-color: var(--white);
    color: var(--main-color);
    border-radius: 50px;
    padding: 15px 30px;
}
.buttonSubmitForm:hover {
    background-color: var(--main-color);
    color: var(--white);
}
.buttonSubmitForm:active {
    border: 3px solid var(--white);
}

/*--------------------------------------footer------------------------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid var(--background);
    padding-top: 20px;
}

.social {
    display: flex;
    list-style: none;
}

.social__list {
    margin-left: 10px; 
    padding: 0;
}

.social__link { 
    cursor: pointer;
}

.social__facebook {
    fill: var(--text);
}

.social__facebook:hover {
    fill: var(--facebook);
}

.social__instagram {
    fill: var(--text);
}
.social__instagram:hover {
    fill: var(--instagram);
}

.social__youtube {
    fill: var(--text);
}

.social__youtube:hover {
    fill: var(--youtube);
}

.social__linkedin {
    fill: var(--text);
}

.social__linkedin:hover {
    fill: var(--linkedin);
}

.social__pinterest {
    fill: var(--text);
}

.social__pinterest:hover {
    fill: var(--pinterest);
}